@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}      

@functions {
    public List<string> GetUrls()
    {
        // Define and return the list of URLs
        return new List<string>
        {
            "/",
            "/about-company",
            "/get-cities",
            "/from-services",
            "/from-singleton",
            "/from-serviceScope",
            "/view-injection",
            "/contact-support",
            "/autoFac",
            "/products",
            "/search-products",
            "/order-product",
        };
    }

    public string GetLinkText(string url)
    {
        // Define and return the link text based on the URL
        switch (url)
        {
            case "/":
                return "Home";
            case "/about-company":
                return "About";
            case "/get-cities":
                return "Cities";
            case "/from-services":
                return "Cities Service";
            case "/from-singleton":
                return "Singleton";
            case "/from-serviceScope":
                return "Service Scope";
            case "/view-injection":
                return "View Injection";
            case "/contact-support":
                return "Contact";
            case "/autoFac":
                return "AutoFac";
            case "/products":
                return "All Products";
            case "/search-products":
                return "Search Products";
            case "/order-product":
                return "Order Product";
            default:
                return string.Empty;
        }
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-brand">AspNet Core App</div>
        <ul>
            @foreach (var url in GetUrls())
            {
                <li>
                    <a href="@url">@GetLinkText(url)</a>
                </li>
            }
        </ul>
    </div>

    <div class="page-content">
        @RenderBody()
    </div>

    <div class="footer-content">
        @RenderSection("footer_section", false)
    </div>
</div>

</body>
</html>