@model StockTrade
@{ ViewBag.Title = "Trading"; ViewBag.CurrentUrl = "~/Trade/Index"; Layout = "_Layout"; }

<div class="text-grey ml">
    <span>Stocks</span>
    <i class="fa-solid fa-caret-right"></i>
    <span>@Model.StockName</span>
</div>

<form method="post">
    @Html.Partial("_TradingPanel", Model)

    <input type="hidden" name="StockSymbol" id="StockSymbol" value="@Model.StockSymbol" />
    <input type="hidden" name="StockName" id="StockName" value="@Model.StockName" />
    <input type="hidden" name="Price" id="price" value="@Model.Price" />
    <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />
</form>

@section Scripts {
<script src="~/Scripts/Finnhub.js"></script>
}