@using MyFirstDotNetCoreApp.Models
@model IEnumerable<Person>
@* @{
const string appTitle = "Asp.Net Core Demo App";
var person = new Person() { Name = "John", DateOfBirth = null, PersonGender = Gender.Female };
var people = new List<Person>()
{
new() { Name = "John", DateOfBirth = DateTime.Parse("2000-05-06"), PersonGender = Gender.Male },
new() { Name = "Linda", DateOfBirth = DateTime.Parse("2005-01-09"), PersonGender = Gender.Female },
new() { Name = "Susan", DateOfBirth = DateTime.Parse("2008-07-12"), PersonGender = Gender.Other }
};
}

@functions
{
// string Name { get; set; } = "Hello name";
}

@{
//method
double? GetAge(DateTime? dateOfBirth)
{
return dateOfBirth is not null ? Math.Round((DateTime.Now - dateOfBirth.Value).TotalDays / 365.25) : null;
}

var x = 10;
var alertMessage = $"<script>alert('{people.Count} people found')</script>";
}
<!DOCTYPE html> *@
<html lang="en">

<head>
    @* <title>@appTitle</title>
    <meta charset="utf-8"/>
    <link href="~/StyleSheet.css" rel="stylesheet"/> *@
    @* <title>@ViewData["appTitle"]</title> *@
    <title>@ViewBag.appTitle</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    @* @Html.Raw(alertMessage) *@
    <div class="page-content">
        <h1>Welcome</h1>
        @* @{
        List<Person>? people = (List<Person>?)ViewData["people"];
        } *@
        @*
        @if (people != null)
        { *@
        @* @foreach (Person person1 in people) *@
        @foreach (Person person1 in Model)
        {
            <div class="box float-left w-50">
                <h3>@person1.Name</h3>
                <table class="table w-100">
                    <tbody>
                        <tr>
                            <td>Gender</td>
                            <td>@person1.PersonGender</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>@person1?.DateOfBirth.Value.ToString("MM/dd/yyyy")</td>
                        </tr>
                    </tbody>
                </table>
                <a href="/person-details/@person1.Name">Details</a>
            </div>
        }
        @* } *@
</body>

</html>