@using MyFirstDotNetCoreApp.Models
@{
    const string appTitle = "Asp.Net Core Demo App";
    Person person = new Person() { Name = "John", DateOfBirth = null, PersonGender = Gender.Female };
    List<Person> people = new List<Person>()
    {
        new Person() { Name = "John", DateOfBirth = DateTime.Parse("2000-05-06"), PersonGender = Gender.Male},
        new Person() { Name = "Linda", DateOfBirth = DateTime.Parse("2005-01-09"), PersonGender = Gender.Female},
        new Person() { Name = "Susan", DateOfBirth = DateTime.Parse("2008-07-12"), PersonGender = Gender.Other}
    };
} 
@functions{
    //method
    double? GetAge(DateTime? dateOfBirth) => dateOfBirth is not null ? Math.Round((DateTime.Now - dateOfBirth.Value).TotalDays / 365.25) : null;

    int x = 10;

    string Name { get; set; } = "Hello name";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@appTitle</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Welcome</h1>
<h2>Hello @person.Name</h2>
@if (person.DateOfBirth == null)
{
    <h3>Date of birth is unknown</h3>
}
else
{
    double age = Math.Round((DateTime.Now - person.DateOfBirth.Value).TotalDays / 365.25);
    <h3>@age years old</h3>
}      
@switch (person.PersonGender)
    {
        case Gender.Male:
            <p>November 19 is International Men's Day</p>
            break;
        case Gender.Female:
            <p>March 8 is International Women's Day</p>
            break;
        case Gender.Other:
            <p>March 31 is International Transgenders Day</p>
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }  
@foreach (var persons in people)
    {
        <div>
            @persons.Name
            <span>, </span>
            <span>@person.PersonGender</span>
            @if (persons.DateOfBirth != null)
            {
                <span>@persons.DateOfBirth.Value.ToString("MM/dd/yyyy")</span>
            }
        </div>
    }         
@for (int i = 0; i < 2; i++)
    {
        Person persons = people[i];
        @*<span>Hello to</span>*@
        @:Hello to
        <div>
            @persons.Name
            <span>, </span>
            <span>@persons.PersonGender</span>
            @if (persons.DateOfBirth != null)
            {
                <span>@persons.DateOfBirth.Value.ToString("MM/dd/yyyy")</span>
                <span>@GetAge(persons.DateOfBirth) years old</span>
            }
        </div>
    }
</body>
</html>
